$starWidth: 18px;
$starHeight: 18px;
$imgStar: '../img/stars.png';
$imgCursorPointer: '../img/pointer.png';
$butonWidth: 80px;

.rating-form{
	&__ratingBlock{		
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
	}
	.ratingBlock{
			&__item{
				background-image: url($imgStar);
				width: $starWidth;
				height: $starHeight;		
				display: block;		
				background-size: $starWidth*2 $starWidth;
				background-repeat: no-repeat;
				background-position: -$starWidth;	
				cursor: url($imgCursorPointer), pointer;
			}
			&>.ratingBlock__item:hover,
			&>.ratingBlock__item:hover ~ .ratingItem, 
			&>.ratingBlock__item.selected,
			&>.ratingBlock__item.selected ~ .ratingItem {
			   background-position: 0;
			}
		}
	&__button{
		cursor: url($imgCursorPointer), pointer;
		width: $butonWidth;
		margin-top: 50px;	
		border-radius: 6px;
		border: 1px solid #d4d4d4;
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
		font-family: Verdana;
		background-image: linear-gradient(to top, #e2e2e2 0%, #e2e2e2 30%, #f2f2f2 70%, #f2f2f2 100%);		
		font-size: 11px;
		letter-spacing: 1px;
		&:hover{
			background-image: linear-gradient(to top, #fdffcc 0%, #fdffcc 30%, #feffeb 70%, #feffeb 100%);
		}
		&:focus{
			box-shadow: 0px 0px 2px #d800ff;			
		}		
		&:active{	
			padding-top: 2px;
			padding-bottom: 0;	
			box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.26);						
		}
	}
}
